* {
    box-sizing: border-box;
}

body {
    background-color: #faf3dd;
}

button {
    font-size: 20px;
    border-radius: 12px;
    border-width: 1px;
    background-color: #b8f2e6;
}

button:hover {
    background-color: #b8f2e683
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 9px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    padding: 25px 25px;
    height: 400px;
    width: 350px;
    margin: 50px auto 50px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #aed9e0;
}

.screen {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 80px;
    margin: 0px 0px 15px;
    border-radius: 6px;
    background-color: #b8f2e6;
}

.result {
    font-size: 34px;
    font-weight: 300;
    padding: 22px 25px;
    align-items: center;
}

.memory {
    font-size: 22px;
    font-weight: 300;
    padding: 15px;
    text-align: right;
}

.operator {
    background-color: #ffa69e;
}

#equals {
    grid-row: 3 / span 4;
    grid-column: 4;
    background-color: #ffa69e;
}

.operator:hover, #equals:hover {
    background-color: #db685e80;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}